@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-whiteColor bg-primaryColor tracking-wider font-dmsans;
    }

    section {
        @apply pt-16 pb-4 md:pt-20;
    }
}


@layer component {
    .btn {
        @apply inline-block  text-sm py-3 px-8 capitalize text-center cursor-pointer rounded-md ease-linear duration-200;
    }

    .btn-primary {
        @apply bg-secondaryColor hover:opacity-75;
    }
}


@layer utilities {
    .home__title, .card__title {
        @apply text-4xl font-oswald font-bold uppercase lg:text-6xl;       
    }

    .card__title {
        @apply text-xl;
    }

    .separator {
        @apply w-28 h-[2px] bg-secondaryColor my-5;
    }

    .paragraph {
        @apply text-paragraphColor text-xs leading-5
    }
}